<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/practicum-signup.css">
</head>
<body>
    <section>
        <div class="imgbox">
            <img src="images/pc.jpg" alt="">
        </div>
        <div class="contentbox">
            <h1>H.A.K Banking</h1>
            <span style="color: red;"><%=err_msg_s%></span>
            <div class="formbox">
                <h2>Sign Up</h2>
                <form action="/sign-up" method="POST">
                    <div class="inputbox">
                        <span>Username</span>
                        <input type="text" name="Username" id="" required value=<%=uname_s%>></div>
                    <div class="inputbox">
                        <span>Password</span>
                        <input type="password" name="Password" id="" required value=<%=pword_s%>></div>
                        <div class="inputbox">
                            <span>Email Id</span>
                            <input type="email" name="Email" id="" required value=<%=email_s%>></div>
            
                    <div class="inputbox">
                        <input type="submit" value="Sign Up">
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>