<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/verify.css">
    <title>Verification</title>
</head>
<body>
    <section>
        <div class="contentbox">
            <h2>Confirm Payment</h2>
            <div class="textbox">
                <!-- <p id="receiver">Harsh Bokan</p>
                <p>&nbsp;is requesting you to transfer&nbsp;</p>    
                <p id="amount">Rs.1,00,000</p>
                <p>&nbsp;to his account!!</p> -->
                <p>We received a transaction request from your account to transfer Rs. <%=amount%> to account number ending with
                    <%=account_no%>, initiated by the person shown below. Please click on the link given below
                      to verify the payment.</p>
            </div>
            <div class="imgbox">
                <img  alt="transactor-image" src=<%=transactor_image%>>
            </div>
            <form action="/verify?<%=queries%>" method="POST">
            <div class="radiobox">
                <div class="inputbox">
                     <span>Select your option!</span>
                    </div>
                <div class="inputbox">        
                    <input type="radio" name="verification" value="1" id="ConfirmPayment" required>
                    <label for="ConfirmPayment" class="option-1">Confirm Payment</label>
                    </div>
                <div class="inputbox">
                    <input type="radio" name="verification" value="0" id="DeclinePayment" required>
                    <label for="DeclinePayment" class="option-2">Decline Payment</label>
                    </div>
                <div class="inputbox">
                    <input type="radio" name="verification" value="-1" id="ResetPassword" required>
                    <label for="ResetPassword" class="option-3">Reset Password</label>
                    </div>
                <div class="inputbox">
                    <input type="submit" value="Confirm">
                    </div>
            </div>
            </form>
        </div>
    </section>
</body>
</html>