<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/waitingpage.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Waiting Page</title>
</head>
<body>
    <div class="boss-waiting">
        <div class="heading-waiting">
            <h1>Mail Has Been Sent</h1>
          </div> 
    </div>
    <div class="main-waiting">
        <video src="images/QHTn.mp4" autoplay loop height="50%" width="50%"></video>
    </div>
    <div style="display: none;">
        <form action="/waiting" method="POST">
            <input type="submit" id="form_submit">
        </form>
    </div>
    <script src = "js/waiting.js"></script>
</body>
</html>