<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/webcam.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Webcam</title>
</head>
<body>
    <div class="boss">
        <div class="heading">
            <h1>Verify Your Image</h1>
            <p>A Verification Mail will be sent on the Registered Email</p>
          </div> 
    </div>
    <div class="main">
        <div class="sub">
            <div id="video-wrap">
                <video autoplay="true" width="700" height="400" id="video">
                </video>
                <div id="controller">
                <button id="cap">Capture</button>
            </div>
            </div>
        </div>
        <div class="sub">
            <div class="cap">
                <canvas id="canvas" style="overflow:auto"></canvas>

            </div>
            <div class="controller">
                <form action="/webcam?<%=queries%>" method="POST"><div style="display: none;">
                  <input type="text" id="img64capture" name="Image64bit" value=""></div>
                  <input id="cap-1" type="submit" value="Submit">
                 </form>
            </div>
        </div>
    </div>
    <script src = "js/webcam.js"></script>
</body>
</html>