*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boss{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    /* align-items: center; */
    width: 95%;
    padding: 20px 40px;
    text-align: center;
    background: -webkit-linear-gradient(190deg,#015dd6,#03c4f4,#1ed1e9,#0388f4);
    /* background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* -webkit-box-shadow: 1px 13px 28px 3px rgba(0,0,0,0.78); 
box-shadow: 1px 13px 28px 3px rgba(0,0,0,0.78); */
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
margin-top: -5px;
margin-bottom: 20px;

}
.main{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#cap{
    padding: 10px 40px;
color: white;
background: linear-gradient(225deg,#1ee9b6de,#0388f4d3);
margin-bottom: 0;
outline: none;
border-radius: 5px;
border: none;
cursor: pointer;
margin-top: 10px;
margin-left: 40% ;
}
#cap-1{
    padding: 10px 40px;
color: white;
background: linear-gradient(225deg,#1ee9b6de,#0388f4d3);
margin-bottom: 0;
outline: none;
border-radius: 5px;
border: none;
cursor: pointer;
margin-top: 10px;
margin-left: 30% ;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#video, #canvas{
    width:100%;
    
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.82);
    background: black;
    
}
.video-wrap{
    width: 100%;
}