@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 60px 85px ;
    /* background:linear-gradient(120deg,#015dd6,#03c4f4,#1ed1e9,#0388f4) ; */
    background: #607d8b44;
}
.contentbox{
    background-color: #fff;
    padding: 30px;
    width: 40%;
    height: 97%;
    border-radius: 6px;
    display: flex;
    flex-direction:column;
    align-items:center ;
    justify-content: center;
}

.contentbox h1{
    color: #607d8b;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 4px solid #45c4ff;
}

.formbox{
    padding:auto;
    padding-top: 20%;
}

.formbox .inputbox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.formbox .inputbox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    margin-bottom: 20px;
}

.formbox .inputbox input[type="submit"]{
    margin-top: 80px;
    background-color: rgb(66, 201, 255);
    border: none;
    color: #fff;
    transition: 0.5s;
}

.formbox .inputbox input[type="submit"]:hover{
    background-color: rgb(250, 141, 69);
    cursor: pointer;
    letter-spacing: 2px;
}
@media (max-width: 900px){
    .contentbox{
        width: 95%;
    }
    section{
        padding: 30px;
    }
}